{{template "base" .}}
{{define "title"}}Create a Game{{end}}
{{define "main"}}
{{ if .Games}}
<form action="/games/add" method="POST">
    <label for="game">Select a game:</label>
    <select name="game" id="game">
        {{range .Games}}
        <option value="{{.ID}}">{{.Name}}</option>
        {{end}}
    </select>
    <input type="submit" value="Add"></input>
</form>
{{ else }}
There are no available games to add.
{{ end }}
{{ end }}