{{template "base" .}}
{{define "title"}}Create a Game{{end}}
{{define "main"}}
<form action="/games/add" method="POST">
    <label for="game">Select a game:</label>
    <select name="game" id="game">
        <option value="" selected disabled>-----</option>
        {{range .Games}}
        <option value="{{.ID}}">{{.Name}}</option>
        {{end}}
    </select>
    <input type="submit" value="Add"></input>
</form>
<a href="/games/new">
    <input type="submit" value="+" style="float: right;"></button>
</a>
{{ end }}