{{template "base" .}}
{{define "title"}}Create a Game{{end}}
{{define "main"}}
<style>
    .hidden {
        display: none;
    }

    #back {
        cursor: pointer;
        font-size: 50px;
    }
</style>
<form action="/games" method="POST" id="add-new-game-form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <label for="franchise">Franchise:</label>
    <select name="franchiseId" id="franchise">
        <option value="" selected disabled>---</option>
        {{range .Franchises}}
        <option value="{{.ID}}" {{if eq $.SelectedFranchiseID .ID}}selected{{end}}>{{.Name}}</option>
        {{end}}
    </select>
    <button id="add-new-franchise-button"> + </button>
    <div>
        <input type="submit" value="Create">
    </div>
</form>
<form action="/franchises/add" method="POST" id="add-new-franchise-form" class="hidden">
    <span id="back">←</span>
    <label for="franchise">Franchise:</label>
    <input type="text" id="franchise" name="franchise" required autofocus>
    <input type="submit" value="Create franchise">
</form>

<script>
    document.getElementById('add-new-franchise-button').addEventListener('click', (e) => {
        e.preventDefault()

        document.getElementById('add-new-franchise-form').classList.remove('hidden')
        document.getElementById('add-new-game-form').classList.add('hidden')
    })

    const returnToGame = () => {
        document.getElementById('add-new-franchise-form').classList.add('hidden')
        document.getElementById('add-new-game-form').classList.remove('hidden')
    }

    handleEsc(returnToGame)
    document.getElementById('back').addEventListener('click', returnToGame)
</script>

{{end}}
