{{template "base" .}}
{{define "title"}}Games{{end}}
{{define "main"}}
{{if .UserGames}}
<style>
    .progress-input.active {
        width: 50px;
        display: inline;
        padding: 0.5em;
    }

    .hidden {
        display: none;
    }

    .button {
        cursor: pointer;
    }

    .franchise {
        font-size: 14px;
    }
</style>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Progress</th>
        <th></th>
    </tr>
    {{range $userGame := .UserGames}}
    <tr>
        <td>{{.ID}}</td>
        <td>
            <div>
                {{.Game.Name}}
            </div>
            {{if .Game.FranchiseID}}
            <div class="franchise">
                Franchise: {{.Game.FranchiseID}}
            </div>
            {{end}}
        </td>
        <td>
            <form action="/games/status" method="POST">
                <input type="hidden" name="game" value="{{.ID}}">
                <span id="status-{{.ID}}" class="status">{{.Status}}</span>
                <select id="status-dropdown-{{.ID}}" name="status" class="status-dropdown hidden">
                    {{range $status := $.Statuses}}
                    <option value="{{$status}}" {{if eq $status $userGame.Status }}selected disabled{{end}}>{{$status}}
                    </option>
                    {{end}}
                </select>
                <span id="edit-status-button-{{.ID}}" class="button edit-button edit-status-button"
                    data-game-id="{{.ID}}" class="button">✎</span>
                <button type="submit" id="save-status-button-{{.ID}}" class="button save-button hidden">💾</button>
            </form>
        </td>
        <td>
            <div>
                <form action="/games/progress" method="POST">
                    <input type="hidden" name="game" value="{{.ID}}">

                    <input type="text" id="input-current-progress-{{.ID}}" name="currentProgress"
                        class="hidden progress-input" value="{{.Progress.Current}}">
                    <span id="current-progress-{{.ID}}" class="progress">{{.Progress.Current}}</span>
                    /
                    <input type="text" id="input-final-progress-{{.ID}}" name="finalProgress"
                        class="hidden progress-input" value="{{.Progress.Final}}">
                    <span id="final-progress-{{.ID}}" class="progress">{{.Progress.Final}} </span>

                    <span id="edit-progress-button-{{.ID}}" class="button edit-button edit-progress-button"
                        data-game-id="{{.ID}}">✎</span>
                    <button type="submit" id="save-progress-button-{{.ID}}" class="button save-button hidden">💾</span>
                </form>
            </div>
            <div>
                <progress value="{{.Progress.Current}}" max="{{.Progress.Final}}"></progress>
            </div>
        </td>
        <td>
            <form action="/games/delete" method="POST">
                <input type="hidden" name="game" value="{{.ID}}">
                <button type="submit" style="color: red">🗑</button>
            </form>
        </td>
    </tr>
    {{end}}
</table>
{{else}}
<p>Currently there are no games.</p>
{{end}}
<a href="games/add">
    <input type="submit" value="+" style="float: right;"></button>
</a>
{{end}}

<script>
    const editProgressButtons = document.getElementsByClassName('edit-progress-button')
    for (let i = 0; i < editProgressButtons.length; i++) {
        editProgressButtons[i].addEventListener('click', (e) => {
            const gameId = e.target.dataset.gameId
            document.getElementById(`input-current-progress-${gameId}`).classList.add('active')
            document.getElementById(`input-current-progress-${gameId}`).classList.remove('hidden')
            document.getElementById(`input-final-progress-${gameId}`).classList.add('active')
            document.getElementById(`input-final-progress-${gameId}`).classList.remove('hidden')
            document.getElementById(`save-progress-button-${gameId}`).classList.add('active')
            document.getElementById(`save-progress-button-${gameId}`).classList.remove('hidden')

            document.getElementById(`current-progress-${gameId}`).classList.add('hidden')
            document.getElementById(`final-progress-${gameId}`).classList.add('hidden')
            document.getElementById(`edit-progress-button-${gameId}`).classList.add('hidden')
        })
    }

    const editStatusButtons = document.getElementsByClassName('edit-status-button')
    for (let i = 0; i < editStatusButtons.length; i++) {
        editStatusButtons[i].addEventListener('click', (e) => {
            const gameId = e.target.dataset.gameId
            document.getElementById(`status-${gameId}`).classList.add('hidden')
            document.getElementById(`edit-status-button-${gameId}`).classList.add('hidden')

            document.getElementById(`save-status-button-${gameId}`).classList.remove('hidden')
            document.getElementById(`status-dropdown-${gameId}`).classList.remove('hidden')
        })
    }

    document.onkeydown = evt => {
        evt = evt || window.event
        var isEscape = false
        if ("key" in evt) {
            isEscape = (evt.key === "Escape" || evt.key === "Esc")
        } else {
            isEscape = (evt.keyCode === 27)
        }
        if (isEscape) {
            hideAll('status-dropdown')
            hideAll('progress-input')
            hideAll('save-button')

            showAll('status')
            showAll('progress')
            showAll('edit-button')
        }
    }

    const hideAll = className => {
        const elements = document.getElementsByClassName(className)
        for (let i = 0; i < elements.length; i++) {
            elements[i].classList.add('hidden')
            elements[i].classList.remove('active')
        }
    }

    const showAll = className => {
        const elements = document.getElementsByClassName(className)
        for (let i = 0; i < elements.length; i++) {
            elements[i].classList.remove('hidden')
        }
    }
</script>
