name: Check
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  mocks:
    name: Check if all mocks are generated properly
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.15]

    steps:
    - uses: actions/checkout@v2
    - name: Set go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install mockgen
      run:  |
        go get github.com/golang/mock/mockgen
    - name: Check generated mocks
      run: |
        # add mockgen to PATH
        export PATH=$PATH:~/go/bin
        go generate ./...
        if [ -n "$(git status --porcelain)" ]
        then
            git status --short; \
            echo; \
            echo "Did you remember to regenerate all sources? Run \`go generate ./...\` and commit the result."; \
            exit 1; \
        fi
  mod:
    name: Check if `go mod tidy` is ran
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.15]

    steps:
    - uses: actions/checkout@v2
    - name: Set go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Check generated mocks
      run: |
        go mod tidy
        if [ -n "$(git status --porcelain)" ]
        then
            git status --short; \
            echo; \
            echo "Did you remember to run `go mod tidy`? Run `go mod tidy` and commit the result."; \
            exit 1; \
        fi
